header {
    margin: 2rem;
    height: 3vh;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: white;
    margin-top: 0;
    padding: 3vh 0;
  }

  .brand {
    height: 5vh;
    width: auto;
  }

  .navbar {
    position: absolute;
    right: 4vw;
    display: flex;
    justify-content: space-between;
  }

  .user {
    margin-right: 10vw;
    color: var(--color-purple);
    display: flex;
    align-items: center;
  }

  .signout {
    color: var(--color-purple);
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .icon {
    margin: 0 1.3vw;
    width: 3vw;
    height: auto;
  }

  @media (min-width: 934px) {
    .icon {
      width: 1.4vw;
    }
  }