.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  margin: 0;
  background-image: url("../../assets/background-login.webp");
  background-size: cover;
}
.section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  width: 50vw;
  padding-bottom: 4vh;
  border-radius: 30px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.logo {
  width: 32vw;
  height: auto;
  margin: 2vw 0 2vw;
}

.intro {
  color: #73395f;
  margin: 15px 0 25px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

.text {
  margin-top: 25px;
  font-size: 0.9rem;
}

@media (min-width: 934px) {
  .logo {
    width: 17vw;
  }

  .section {
    width: 27vw;
  }
}
