.modal {
    display: block;
    color: #F244A4;
    text-align: center;
}

.modal_body {
    margin-top: 15px;
    color: black;
}

.btn_delete {
    background-color: #F244A4;
    border: #F244A4 solid 1px;
    display: flex;
    padding-bottom: 35px;
}

.btn_delete:hover {
    background-color: #fff;
    border: #F244A4 solid 1px;
    color: #F244A4;
}

.btn_cancel {
    background-color: #C0BABD;
    border: #C0BABD solid 1px;
    padding-bottom: 35px;
}

.btn_cancel:hover {
    background-color: #fff;
    border: #C0BABD solid 1px;
    color:black
}
