.title_section {
    color: var(--color-light-pink);
    font-weight: 500;
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 0 3vw;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title_section h2 {
    margin-bottom: 0px;
    margin-left: 13px;
}

img {
    cursor: pointer;
}

.responsive {
    border: #C0BABD 1px solid;
    border-radius: 25px;
    margin: 25px;
    padding: 5px;
}

.button {
    width: 5rem;
    height: auto;
    background-color:#F294C0;
    border-radius: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0.5rem;
    display: block;
}

.delete{
    width: 5rem;
    height: auto;
    background-color:white;
    border-radius: 15px;
    color: #73395F;
    text-align: center;
    text-decoration: none;
    padding: 0.5rem;
    display: block;
    border: solid #73395F 0.9px;
}

.options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
}

.new_order {
    border: #F294C0 1px solid;
    border-radius: 15px;
    padding: 0.8vw;
    font-size: 15px;
    text-decoration: none;
    color: #F294C0;
}

.new_order:hover {
    background-color: #F294C0;
    color: white;
    border: white 1px solid;
}

.icon_refresh {
    width: 35px;
    height: 35px;
}

