.new_order {
  display: flex;
  width: 100vw;
  margin-top: 12vh;
}

.menu {
  width: 50vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.component {
  width: 40vw;
}

.client {
  width: 36vw;
  border: 0.3px solid #d9d9d9;
  border-radius: 30px;
}

.see_all_orders {
  position: absolute;
  bottom: 0;
  margin-bottom: 8vh;
  color: #f244a4;
}

.see_all_orders span {
  margin-left: 2vw;
}

.return_button {
    margin-right: 1vw;
}

.return_button, .icon_orders {
  width: auto;
  height: auto;
}
