.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}

.users, .products, .orders {
    width: 260px;
    height: 260px;
    background-color: #F2E4D8;
    border: none;
    border-radius: 30px;
    color: #73395F;
    margin: 30px;
    box-shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.4);
}

.images {
    width: 100px;
}