.title_section {
    color: var(--color-light-pink);
    font-weight: 500;
    margin-left: 25px;
    display: flex;
    align-content: center;
}

.title_section h2 {
    margin-bottom: 0px;
    margin-left: 13px;
}

.responsive {
    border: #C0BABD 1px solid;
    border-radius: 25px;
    margin: 25px;
    padding: 5px;
}
  
.options {
    width: 30px;
}