.title_section {
  color: var(--color-light-pink);
  font-weight: 500;
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin: 0 3vw;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title_section h1 {
  margin-bottom: 0px;
  margin-left: 14px;
}

.icons {
  width: auto;
  height: auto;
}