.modal {
  display: block;
  color: #f244a4;
  text-align: center;
}

.modal_body {
  margin-top: 15px;
  color: black;
}

.btn_add {
  background-color: #f244a4;
  border: #f244a4 solid 1px;
  display: flex;
  padding-bottom: 35px;
}

.btn_add:hover {
  background-color: #fff;
  border: #f244a4 solid 1px;
  color: #f244a4;
}

.btn_cancel {
  background-color: #c0babd;
  border: #c0babd solid 1px;
  padding-bottom: 35px;
}

.btn_cancel:hover {
  background-color: #fff;
  border: #c0babd solid 1px;
  color: black;
}

.modal_product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-left: 15px;
}

.modal_product input {
  width: 25vw;
}

.modal_product div:first-child {
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 10px;
}

.modal_product div:nth-child(2) {
  grid-row: 1/2;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 10px;
}

.modal_product div:nth-child(3) {
  grid-row: 2/3;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 10px;
}

.modal_product div:nth-child(3) select {
  border-radius: 30px;
  height: 2.4rem;
  border-color: #f244a4;
  text-indent: 20px;
  width: 25vw;
}

.modal_product div:nth-child(4) {
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 10px;
}

.modal_product div:nth-child(4) input {
  margin: 0;
}

.modal_user {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  width: 100%;
}

.modal_user div:first-child {
  display: flex;
  justify-content: center;
  margin: 0 10px;
}

.modal_user div:first-child div:first-child {
  width: 15%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.modal_user div:first-child div:nth-child(2) {
  width: 85%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.modal_user div:nth-child(2) {
  display: flex;
  margin: 0 10px;
}

.modal_user div:nth-child(2) div {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}

.modal_user div:nth-child(2) div:first-child {
  width: 45%;
}

.modal_user div:nth-child(2) div:nth-child(2) {
  width: 45%;
}

.modal_user div:nth-child(3) {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 10px 15px 20px;
  align-self: left;
}

.modal_user select {
  border-radius: 30px;
  height: 2.4rem;
  border-color: #f244a4;
  text-indent: 2px;
  width: 45%;
}
