.options {
    width: 30px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.content {
    position: absolute;
    top: 25px;
    right: 0px;
    background-color: #fff;
    border: 1px solid #C0BABD;
    border-radius: 20px;
    width: 100px;
    height: 100px;
    overflow: auto;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    font-size: 16px;
    color: #F244A4;
}

.btn_options {
    cursor: pointer;
    padding: 5px;
}

.btn_options:hover {
    background-color: #F294C0;
    color: #fff;
    border-radius: 10px;
    padding: 5px;
    opacity: 80%;
}